/* You can add global styles to this file, and also import other style files */
body{
  font-family: monospace;
}
.required{
  font-size: 10px;
  color: blue;
}
.container{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
button{
  padding: 2px 45px;
  background-color: #ffffff;
}
button:hover{
  padding: 2px 45px;
  background-color: #c1c1f7;
  color: white;
}
.letters{
  display: inline-block;
  margin: 2px;
}
.letter{
  padding: 2px 8px;
  background-color: #ffffff;
}
.letter:hover{
  padding: 2px 8px;
  background-color: #c1c1f7;
  color: white;
}
.letter:disabled{
  padding: 2px 8px;
  background-color: #c1c1f7;
  color: black;
  cursor: not-allowed;
  pointer-events: none;
}
ul{
  list-style: none;
  padding: 0;
}
