/* You can add global styles to this file, and also import other style files */
body{
  font-family: monospace;
}
.required{
  font-size: 10px;
  color: blue;
}
.container{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
button{
  padding: 2px 45px;
  background-color: #ffffff;
}
button:hover{
  padding: 2px 45px;
  background-color: #848484;
  color: white;
}
